#cart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: center;
  background-color: #141212;
  width: 88%;
  max-width: 966px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid rgba(117, 184, 1, 0.6);
  border-radius: 0.3rem;
}

.tarjeta-producto{
  display: flex;
  align-items: center;
  height: 6rem;
  gap: 2rem;
  color: rgb(255, 255, 255);
}

.tarjeta-producto img{
  height: 100%;
  object-fit: scale-down;
}

.tarjeta-producto h3{
  width: 11rem;
  color:  rgb(166, 157, 157);
}
.tarjeta-producto div{
  background-color: rgb(0, 0, 0);
  padding: 0.33rem;
  border-radius: 0.33rem;
  color: rgb(0, 255, 21);
}

#totales{
  text-align: center;
  color: rgb(0, 255, 170);
}

#carrito-vacio{
  text-align: center;
  color: rgb(24, 193, 83);
  margin-bottom: 1rem;
  text-decoration-line: underline;

}